aiohttp
anyio
asyncio
asyncpg
fastapi
uvicorn
pydantic
poetry
sqlalchemy
alembic
blinker
click
flask
flask-bootstrap
Flask-Migrate
Flask-SQLAlchemy
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg
typing_extensions
Werkzeug
flake8
black
isort


# pip-compile requirements.in
# pip-compile --upgrade
# isort ./homework_01
# black ./homework_01
# flake8 --config .flake8
