{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать на сайт загадываний желаний!</h1>
<p>🌟 Мы не обещаем вам луну, но звезды точно вашими руками – сделайте свое желание, и наши кибер-гномы начнут свою работу!</p>
<p>🚀 Ваше желание – наше командное топливо. Чем оригинальнее ваш запрос, тем сильнее мы смеемся в нашем офисе.</p>
<p>🎩 Магия, радуги и единороги – это всё наше, ведь мы знаем, что смех – это самый краткий путь к счастью.</p>
<p>🌈 Здесь нет ограничений! Хотите, чтобы ваше желание превратилось в крокодила? Да пожалуйста, он уже в пути!</p>
<p>🎉 Мы как феи-приколисты, выполняющие ваши курьезные фантазии. Посмеяться не может быть слишком много, верно?</p>
<p>🚨 Внимание! Мы не несем ответственности за возможное превращение вашего кофе в чай или наоборот. Такие случаи – чисто
    случайны и весьма комичны!</p>
<p>💡 Нам не нужны ваши личные данные – мы заняты тем, чтобы улучшать мир, одну шутку за другой. Поэтому, смелее смешивайте свои
    фантазии!</p>
<p>📣 Смех – лучшее лекарство, а мы – ваш рецепт для веселья. Добро пожаловать в цирк желаний, где каждый акробат – это ваша
    мечта!</p>
<p>Так что, готовы повеселиться и пустить в ход свои безумные идеи? Загадывайте желания и приготовьтесь к взрыву смеха – вместе
    мы создадим веселый хаос! 🎉😜</p>
<p>Сайт ещё находится в разработке, но вы уже можете добавить свои желания в разделе <a href="{{ url_for('records') }}">Загадать
    желание</a>
</p>
<p>Также можете посмотреть список желаний в разделе <a href="{{ url_for('about') }}">Список желаний</a></p>
<p>Познакомиться с командой сайта можно в разделе <a href="{{ url_for('about') }}">О нас</a></p>
{% endblock %}