alembic
blinker
click
Flask
Flask-Migrate
Flask-SQLAlchemy
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg
psycopg2
SQLAlchemy
typing_extensions
Werkzeug
gunicorn

# pip install pip-tools
# pip-compile requirements.in